##################################################################################
# ISO
##################################################################################
iso_urls                        = "{{ item.vars.iso_urls }}"
iso_checksum                    = "{{ item.vars.iso_checksum }}"
iso_checksum_type               = "{{ item.vars.iso_checksum_type }}"
iso_path                        = "{{ item.vars.iso_path }}"
iso_file                        = "{{ item.vars.iso_file }}"

##################################################################################
# VM Settings
##################################################################################
vm_guest_os_family              = "{{ item.vars.vm_guest_os_family }}"
vm_guest_os_vendor              = "{{ item.vars.vm_guest_os_vendor }}"
vm_guest_os_member              = "{{ item.vars.vm_guest_os_member }}"
vm_guest_os_type                = "{{ item.vars.vm_guest_os_type }}"
vm_guest_os_version             = "{{ item.vars.vm_guest_os_version }}"
vm_cpu_sockets                  = "{{ item.vars.vm_cpu_sockets }}"
vm_cpu_cores                    = "{{ item.vars.vm_cpu_cores }}"
vm_mem_size                     = "{{ item.vars.vm_mem_size }}"
vm_cdrom_type                   = "{{ item.vars.vm_cdrom_type }}"
vm_disk_controller_type         = ["{{ item.vars.vm_disk_controller_type }}"]
vm_disk_size                    = "{{ item.vars.vm_disk_size }}"

##################################################################################
# Boot Settings
##################################################################################
http_directory                  = "{{ item.vars.http_directory }}"
vm_boot_wait                    = "{{ item.vars.vm_boot_wait }}"
vm_boot_command                 = ["{{ item.vars.vm_boot_command | join('","') }}"]
ssh_username                    = "{{ item.vars.ssh_username }}"
ssh_password                    = "{{ item.vars.ssh_password }}"
shell_scripts                   = ["{{ item.vars.shell_scripts }}"]

##################################################################################
# Boot Settings
##################################################################################
execute_command                 = "{{ item.vars.execute_command }}"

##################################################################################
# vCenter
##################################################################################
vcenter_username                = "{{ vcenter.username }}"
vcenter_password                = "{{ vcenter.password }}"
vcenter_server                  = "{{ vcenter.server }}"
vcenter_datacenter              = "{{ vcenter.datacenter }}"
vcenter_host                    = "{{ vcenter.host }}"
vcenter_datastore               = "{{ vcenter.datastore }}"
vcenter_network                 = "{{ vcenter.network }}"
vcenter_network_card            = "{{ vcenter.network_card }}"
vcenter_folder                  = "{{ vcenter.folder }}"