##################################################################################
# vCenter
##################################################################################
vcenter_username                = "{{ vcenter.username }}"
vcenter_password                = "{{ vcenter.password }}"
vcenter_server                  = "{{ vcenter.server }}"
vcenter_datacenter              = "{{ vcenter.datacenter }}"
vcenter_host                    = "{{ vcenter.host }}"
vcenter_datastore               = "{{ vcenter.datastore }}"
vcenter_network                 = "{{ vcenter.network }}"
vcenter_network_card            = "{{ vcenter.network_card }}"
vcenter_folder                  = "{{ vcenter.folder }}"
